* {
    box-sizing: border-box;
  }
  
  body {
   
    font-family: Arial;
  }
  
  /* The grid: Four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
    height: 310px;
    
  }
  
  .img-pad{
    
    width: 35%;
    padding: 10px;
    margin-left: 120px;
    
  }


  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  


