body{
    background-image: url("./bg3.jpg") ;
    background-repeat: no-repeat;
    background-size: 1366px 680px;
}

body,html {
    font-family: sans-serif;
  }

   
  .keys {
    display: flex;
    flex: 1;  
    justify-content: center;
  }
 
  kbd {
    display: block;
    font-size: 2rem;
  }
 
  .key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 0.5rem .5rem;
    transition: all .7s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
  }

  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .01rem;
    color: #ffc600;
  }

  .playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }
  
  